.main-nav{
    background-color:#ec407a!important;
}

.nav-link{
    color: aliceblue!important;
}

.logo {
    overflow: hidden;
    position: relative;
    transform: translateX(100px)
}

.navbar-toggler{
    background-color: #f19f30!important;
}

.nav-link{
    font-weight: 600!important;
    color: black!important;
}

.hero{
    background-image: url('../images/pizza-386717_1920.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    z-index: 10;
    overflow: hidden;
}

.overlay{
    z-index: 2000;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    min-height: 100%;
}

.btn-pizza{
    background-color:#f19f30;
    color: #fff;
    font-weight: 600;
}

.description >.title{
    font-weight: 800;
    font-size: 60px;
    color: #fff;
}

.description >.text{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

.specialities  .title,.gallery .title{
    font-size: 40pt;
    color: #ba1803;
    font-weight: 900;
}

.meal-details-overlay{
    z-index: 10;
    width: 100%;
    background-color: rgba(242, 163, 58, 0.9);
    min-height: 100%;
    position: absolute;
}

.meal-details-content {
    z-index: 3000;
    min-height: 100%;
    position: absolute;
}

.meal-details-content h3{
    font-weight: 800;
    color: #fff;
    font-size: 40px;
}

.meal-details-content p{
    font-weight: 300;
    color: #fff;
}

.meal-details-content h5{
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}

.card{
    position: relative;
    word-wrap: break-word;
}

.card img{
    z-index: 1;
}

.btn{
    width: 150px!important;
    height: 40px;
    border-radius: 10px;
    font-weight: 800;
}

.btn-danger{
    background-color: #a61206!important;
}

.promotions,.contacts-infos{
    background-image: url('../images/promo.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

.promotions h2{
   color: #fff;
   font-weight: 900;
   font-size: 40px;
}

.promotions p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
 }

.promotions .overlay{
    min-height: 100%;
}

.promotions img{
    width: 400px;
    height: 400px;
}

  .contacts-infos{
      min-height: 600px;
      position : relative;
  }

  .contacts-infos form input,.contacts-infos textarea  {
        background-color: transparent;
        border-radius: 0;
        font-weight: 400;
        color: #fff!important;
        border: solid 2px #fff;
  }

.contacts-infos form input::placeholder,.contacts-infos textarea::placeholder {
    font-weight: 400;
    color: #fff;
}

.contacts-infos form input:focus,.contacts-infos textarea:focus  {
   background-color: transparent;
   border-color: #fff;
   box-shadow: none;
   border: solid 2px #fff;
}

.contacts-infos h2{
    color: #fff;
    font-weight: 700;
}

.contacts-infos .form{
    margin-left: 53%;
    margin-right: 9%;
}

#map-container{
    min-height: 100%;
    z-index: 8000;
    position: absolute;
    top: 0;
    left: 0;
    width: 52%;
}

footer a{
    color: black;
    font-weight: 700;
}

footer a:hover{
    text-decoration: none;
    color: rgba(242, 163, 58, 0.9);
}

footer a::before{
    content: "  ";
    padding-left:7px;
}

footer a::after{
    content: " |"
}

footer a:last-of-type::after{
    content: ""
}

footer address{
    font-weight: 500;
    font-size: 13px;
}

.active{
    border-bottom:solid 4px #a61206;
}

.navbar{
    padding : 0px!important;
}


/* About page */

.hero h2{
    font-weight: 700;
    font-size: 48pt;
    padding-top: 190px;
    color: #fff;
}
.card-title{
    font-size: 20pt;
    color: #fff;
}

.description-text{
    background-color: #fff;
    margin-left: 12%;
    margin-right: 12%;
    height: 150px;
    transform: translateY(-100px);
    line-height: 50px;
}

.wrapper{
    position: relative;
    overflow: hidden;
}

.wrapper img{
    width: auto;
    height: 100%;
}

.service01{
    background-color: #f19f30;
}

.service02{
    background-color: #127427;
}

.service03{
    background-color: #a61206;
}

.service p{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.service h2{
    text-align: center;
}

.service {
    padding-top: 50px;
    padding-bottom: 50px;
}

.desc{
    text-align: center;
    color: #3d3d3d;
    font-size: 18pt;
    font-weight: 300;
    line-height: 50px;
}

.services img{
    width: 434px;
    height: 289px;
}
.services .card{
    padding:0px;
    margin: 0px;
    
}

.services .card-body{
    height: 289px;
}

.services {
    margin-top: 10px;
    padding-top: 10px;
}

.text-black{
    color: #3d3d3d;
    font-weight: 800;
}
.text-orange{
    color: #f19f30;
    font-weight: 800;
}
.card{
    text-overflow: ellipsis; 
}

/* Menu page*/
.meals .title{
    margin-bottom: 40px;
    margin-top: 10px;
}
.meals h2{
    color: #a61206;
    text-transform: uppercase;
   
}

.meals .card{
    position: relative;
    border:none;
    left: 0px;
    top: 0px;
}

.meals .card  h2{
    color: #3d3d3d;
    text-transform: uppercase;
    font-size: 28pt;
    font-weight: 400;
}

.meals .card  span{
    color: #f19f30!important;
    text-transform: uppercase;
    font-size: 28pt;
    position: relative;
    font-weight: 700;
}

.meals .card p {
    color: #3d3d3d;
    font-size: 16pt;
}
.meals > div > div >p{
    color: #3d3d3d;
    font-size: 18pt;
    font-weight: 300;
    text-align: center;
    padding-bottom: 50px;

}
/* Blog page*/
.up >.container{
    transform: translateY(-100px);
    background: #fff;
}
.up .form-control{
    border : solid 2px black;
    border-radius: 0;
}

.up .form-control:focus{
    box-shadow: none;
}
.up .form-control::placeholder{
    color: black;
}
.content-wrapper{
    padding-top: 60px;
}

.content-wrapper h2{
    color: #060100;
    font-weight: 600;
    font-size: 23pt;
    text-transform: uppercase;
}
.content-wrapper p > span{
    text-transform: uppercase;
    color: #505050;
    font-size: 13pt;
}

.content-wrapper p > i{
    text-transform: uppercase;
    color: #f19f30;
    font-size: 28pt;
}

.content-wrapper .card{
    padding-top: 12px;
    margin-top: 0px;
}

.content-wrapper .card-body{
    padding-left: 0px;
}



.list-links .title,.form-group > label{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24pt;
}

 .list-links li{
    
    list-style-type: none;
    
}

.list-links li a{
    text-decoration: none;
     color :#282523;
     font-size: 12pt;
     font-weight: 400;
}

.list-links li a:hover{
    color: #f19f30;
}

.list-links li a::after{
    content: " ";
    display: block;
    height: 10px;
}
.content-wrapper form input,.content-wrapper form input:focus{
    color: #130703;
    border-radius: 0px;
}

.content-wrapper form input:focus{
    color: #130703;
    box-shadow: none;
    border-color: #dfdfdd;
}

.post-date{
    background-color: #f19f30;
    padding:0px;
    
}

.post-date span{
    background-color: #f19f30;
    display: block;
}

.post-date span:first-of-type{
    
    color: black;
    font-weight: 700;
}

.post-date span:last-of-type{
    color: black;
    font-weight: 300;
}

.article-texte{
    color: #3d3d3d;
    font-size: 18pt;
    font-weight: 300;
    line-height: 50px;
    text-align: justify;
    margin-top: 30px;
}

.article-texte > img{
    margin-left: 50px;
    margin-top: 20px;
}

.item{
    width: 244px;
    height: 163px;
}

.images{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.gallery >div >div >div{
    padding-right: 0px;
}

@media only screen and (max-width: 600px) {

    .logo{
        transform: translateX(0px);
    }

    .promotions{
        background-image: url('../images/promo.png');
        background-size: cover;
        background-position: center;
        height: 1015px;
    }

    .hero{
        height: 650px;
        z-index: 10;
        overflow: hidden;
    }

    #map-container{
        min-height: 100%;
        z-index: 8000;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .contacts-infos .form{
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        position: relative;
        top: 560px;
    }

    .description-text{
        background-color: #fff;
        line-height: 40px;
        margin: 0px;
        padding: 0px;
        height: auto;
    }

    .services{
        transform: translateY(-160px);
        margin-left:10px;
        margin-right:10px;
        text-align: center;
        margin-bottom: 0px;
    }

    .services .card,.card-body{
       width: 439px;
    }

  }


